<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="APITest">
    <classes>
      <class name="api_tests.CreateWorkingClassHeroesTests"/>
      <class name="api_tests.VoucherCountTests"/>
      <class name="api_tests.CreateWorkingClassHeroesWithVoucherTests"/>
      <class name="api_tests.WorkingClassHeroOwesMoneyTests"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="UITest">
    <classes>
      <class name="ui_tests.UploadCSVCreateHero"/>
      <class name="ui_tests.GenerateTaxRelief"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
